<div *ngIf="isVisible" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl">
    <h2 class="text-xl font-bold mb-4">Agregar Producto</h2>
    <form [formGroup]="productForm" class="w-full">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="categoria">
            Categoría
          </label>
          <select formControlName="categoria" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            <option value="">Seleccione...</option>
            <option *ngFor="let categoria of categorias$ | async" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select>
          <div *ngIf="this.productForm.get('categoria')?.errors?.['required']" class="text-red-500 text-xs italic">Seleccione una categoría</div>
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="sku">
            SKU
          </label>
          <input formControlName="sku" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="###">
          <div *ngIf="this.productForm.get('sku')?.errors?.['required']" class="text-red-500 text-xs italic">SKU es obligatorio y debe ser numérico</div>
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="nombre">
            Nombre
          </label>
          <input formControlName="nombre" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Nombre del producto">
          <div *ngIf="this.productForm.get('nombre')?.errors?.['required']" class="text-red-500 text-xs italic">Nombre es obligatorio</div>
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="descripcion">
            Descripción
          </label>
          <textarea formControlName="descripcion" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"></textarea>
          <div *ngIf="this.productForm.get('descripcion')?.errors?.['required']" class="text-red-500 text-xs italic">Descripción es obligatoria</div>
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="precioVenta">
            Precio Venta
          </label>
          <input formControlName="valor" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="0">
          <div *ngIf="this.productForm.get('valor')?.errors?.['required']" class="text-red-500 text-xs italic">Precio es obligatorio y debe ser mayor o igual a 0</div>
        </div>

        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="estado">
            Estado
          </label>
          <select formControlName="estado" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            <option>Activo</option>
            <option>Inactivo</option>
            <option>Retirado</option>
          </select>
        </div>

        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="stock">
            Stock
          </label>
          <input formControlName="stock" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="0">
          <div *ngIf="this.productForm.get('stock')?.errors?.['required']" class="text-red-500 text-xs italic">Stock es obligatorio y debe ser mayor o igual a 0</div>
        </div>
      </div>

      <div class="flex justify-end mt-4">
        <button type="button" (click)="closeModal()" class="bg-red-500 text-white rounded-full px-4 py-2 hover:bg-red-600 transition-colors mr-4">
          Cancelar
        </button>
        <button type="button" (click)="saveProduct()" class="bg-green-500 text-white rounded-full px-4 py-2 hover:bg-green-600 transition-colors">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
