  <!-- Navegación Superior -->
  <nav class="bg-blue-500 p-4 flex items-center justify-between">
    <div>
      <h1 class="text-white text-xl font-semibold">SALUD 360</h1>
    </div>
    <div class="flex items-center space-x-4">
      <span class="text-white">Bienvenido</span>
      <i class="fas fa-user-circle text-white text-2xl"></i>
    </div>
  </nav>
<div class="hide-print flex flex-row h-screen antialiased text-blue-gray-800">

    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
      
	<!-- Component End  -->

    <div class="flex-grow flex">
        <div style="width: 100%;">    <router-outlet></router-outlet></div>
    </div>
</div>